@model ExternalService.Connections.Interfaces.IWeatherData
<div class="container">
    <div class="row">
        <div class="col alert-danger">@Model.Fault?.Message</div>
    </div>
    <div class="row">
        <div class="col-3 text-left">Time:</div>
        <div class="col text-left">@(Model.DateTime.ToString("f"))</div>
    </div>
    <div class="row">
        <div class="col-3 text-left">Temperature:</div>
        <div class="col text-left">@Html.Raw($"{Model.Current?.Temp:F0}&deg;F")</div>
    </div>

    @*TODO: Add a "feels like" row.*@

</div>