@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Technical Tests</h1>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="card">
                    <div class="card-header">
                        <div class="container"><div class="row"><div class="col-auto text-right">Weather:</div>
                            <div class="col text-left"><button class="btn btn-primary" id="get-weather">Get Weather</button></div></div></div>
                    </div>
                    <div class="card-body" id="weather-results">No data</div>
                </div>
            </div>
        </div>
    </div>
</div>
